langchain
langchain-groq
faiss-cpu
tiktoken
langchain-community
chromadb
langchain-openai
pypdf
python-dotenv
langchain-google-genai
python-docx
docx2txt
#embeddings
sentence-transformers
langchain-huggingface
